@import "just-the-docs";

.landing-page .main-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.landing-page .main-content img {
  margin: 0 auto;
}

.landing-page ul {
  list-style-position: inside;
  padding-left: 0;
}
